@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); /* Import Font Family */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #1c0522;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul { /* Only effect ul inside header */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
    padding: 6px 15px;
    
}

header ul li a:hover, .active {
    color: #2b1055;
    background-color: gray;
}

section {
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
card-container{

  perspective: 800px;
  }
  
  .card {
  
  width: 1400px; height: 700px;
  
  transform-style: preserve-3d; 
  position: relative;
  
  transition: transform .75s
  cubic-bezier(0.4, 0.03, 0.5, 0.9);
  }
  
  .card_image { width: 100%;
  
  height: 100%; 
  position: absolute;
  inset: 0;
  
  object-fit: cover; 
  backface-visibility: hidden;
  }
  
  
  .card_image:nth-child(2),
  
  .card:hover {
  
  transform:rotate3d(1,1,0,180deg);
  }

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }




#btn {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: black;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
    text-align: left , right;
    
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 1px;
    
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: black;
}
#button:hover {
  cursor: pointer;
  background-color: red;
}
#button:active {
  background-color: yellow;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.pre {
    font-size: 1.em;
    padding-top: 0%;
    color: #fff;
    z-index: 1000;
    position: relative;
    padding: 100px;
    background: #1c0522;
    text-align: left , right;
}

.pre h2 {
    font-size: 3.5em;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #fff;
}



.pre li {
    display: inline-flexbox;
    padding-right: 10px;
}   
.pre {
  padding-left: 0;
}

.about {
  
    text-align: left;
    padding: 0px;
    justify-content: center;
    color: white;
    flex: auto;
    overflow: hidden;
    background-color: #1c0522;
    
  
  }
.about h2 {
    font-size: 3.5em;
    letter-spacing: 1px;
    color: #fff;
}
.about p {
  font-size: 1.2em;
  color: #fff;
}


.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background:  white;
  background-color: #1c0522;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2vw 4vw;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

form h3{
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: white;
  font-size: 16px;
}
form button{
  padding: 15px;
  background: black;
  color: white;
  font: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}


.footer{
	max-width: 935px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
  background-color: #1c0522;
	justify-content: space-between;
}

.footer .links ul li{
	display: inline-block;
	margin-right: 10px;
}

.footer .links ul li a{
	color: white;
	font-size: 12px;
}

.footer .copyright{
	color: #999;	
}